.profile-section {
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.twitter {
    font-family: var(--font-family);
    font-size: 18px;
    line-height: 28px;
    font-weight: 700;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 20px;
}

@media (min-width: 1440px) {
    .profile-section {
        max-width: 960px;
    }
}

@media (min-width: 1200px) and (max-width: 1439px) {
    .profile-section {
        max-width: 960px;
    }
}

@media (min-width: 992px) and (max-width: 767px) {
    .profile-section {
        max-width: 960px;
    }
}

@media (min-width: 768px) and (max-width: 575px) {
    .profile-section {
        max-width: 720px;
    }
}

@media (max-width: 576px) {
    .container {
        max-width: 540px;
    }
}