@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

:root {
  --font-family: 'Inter', sans-serif;
  --base-white: #ffffff;
  --primary-200: #B2DDFF;
  --primary-300: #84CAFF;
  --primary-600: #1570EF;
  --primary-700: #175CD3;
  --gray-25: #FCFCFD;
  --gray-50: #F9FAFB;
  --gray-100: #F2F4F7;
  --gray-200: #EAECF0;
  --gray-300: #D0D5DD;
  --gray-400: #98A2B3;
  --gray-500: #667085;
  --gray-600: #475467;
  --gray-700: #344054;
  --gray-900: #101828;
  --box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
}

a {
  text-decoration: none;
}

label {
  color: var(--gray-700);
  font-size: 14px;
  line-height: 20px;
  font-family: var(--font-family);
  font-weight: 500;
  margin-bottom: 5px;
  display: block;
}

input,
textarea {
  padding: 10px 14px;
  border-radius: 8px;
  border: 1px solid var(--gray-300);
  font-size: 16px;
  color: var(--gray-900);
  line-height: 24px;
  font-weight: 400;
  font-family: var(--font-family);
  background: #FFFFFF;
  display: block;
}

input::placeholder,
textarea::placeholder {
  color: var(--gray-500);
}

input:focus,
textarea:focus {
  background: #FFFFFF;
  border: 1px solid var(--primary-300);
  box-shadow: var(--box-shadow);
  outline: none;
}

input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  width: 20px;
  height: 22px;
  z-index: 2;
  cursor: pointer
}

.primary-btn {
  background-color: var(--primary-600);
  border: 1px solid var(--primary-600);
  border-radius: 8px;
  padding: 12px 20px;
  color: var(--base-white);
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  transition: all 0.5s ease-in-out;
}

.primary-btn-disabled,
.primary-btn-disabled:hover,
.primary-btn-disabled:focus {
  background-color: var(--primary-200);
  border: 1px solid var(--primary-200);
  border-radius: 8px;
  padding: 12px 20px;
  color: var(--base-white);
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
}

.primary-btn:hover {
  background-color: var(--primary-700);
  border: 1px solid var(--primary-700);
}

.primary-btn:focus {
  background-color: var(--primary-600);
  border: 1px solid var(--primary-600);
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05), 0px 0px 0px 4px #D1E9FF;
}

.checkbox-container {
  display: flex;
}

.checkbox {
  border-radius: 6px;
  width: 22px;
  height: 22px;
  background-color: var(--base-white);
  border: 1px solid var(--gray-300);
  margin-right: 10px;
}

.checkbox.disabled-checkbox,
input[type="checkbox"]:checked~.checkbox.disabled-checkbox,
input[type="checkbox"]:focus~.checkbox.disabled-checkbox {
  background-color: var(--gray-100);
  border: 1px solid var(--gray-300);
  box-shadow: none;
}

input[type="checkbox"]:checked~.checkbox {
  border: 1px solid var(--primary-600);
  background-color: #F9FAFB;
}

input[type="checkbox"]:focus~.checkbox {
  border: 1px solid var(--primary-600);
  box-shadow: 0px 0px 0px 4px var(--primary-300);
  background-color: var(--base-white);
}

.checkbox:after {
  content: "";
  position: relative;
  display: none;
}

.checkbox-container input[type="checkbox"]:checked~.checkbox:after {
  display: block;
}

.checkbox-container input[type="checkbox"]:checked~.checkbox.disabled-checkbox:after {
  display: none;
}



/* Style the checkmark/indicator */
.checkbox-container .checkbox:after {
  left: 6px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: 1px solid var(--primary-600);
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(315deg);
  transform: rotate(45deg);
}

.checkbox-label {
  color: var(--gray-600);
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  font-family: var(--font-family);
}

.error {
  border: 1px solid #F83F23;
}

.error:focus {
  box-shadow: 0px 0px 0px 4px #F89687;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 32px;
}

.profile-section {
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.contact {
  width: 100%;
  margin: 0 auto;
}

.contact header h1 {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  color: var(--gray-900);
  margin-bottom: 20px;
}

.contact header p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: var(--gray-600);
  margin-bottom: 20px;
}

.hint {
  font-family: var(--font-family);
  font-size: 14px;
  line-height: 20px;
  color: var(--gray-600);
  margin-top: 5px;
}

.row {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.col-50 {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.col-100 {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.mr-10 {
  margin-right: 10px;
}

.ml-10 {
  margin-left: 10px;
}

.twitter {
  font-family: var(--font-family);
  font-size: 18px;
  line-height: 28px;
  font-weight: 700;
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 20px;
}

.profile-image {
  border-radius: 50%;
  border: 5.5px solid #fff;
  width: 100px;
  height: 100px;
  overflow: hidden;
  display: block;
  margin: 20px auto;
  display: flex;
  justify-content: center;
  flex-direction: row;
  position: relative;
}

.profile-image:focus {
  border: 5.5px solid #EBE9FE;
}

.profile-image img {
  max-width: 100%;
  height: auto;

}

.camera {
  background: rgba(52, 64, 84, 0.75);
  z-index: 2;
  width: 100%;
  height: 100%;
  bottom: 0;
  top: 0;
  right: 0;
  position: absolute;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: flex-end;
  left: 0;
  padding: 10px;
  opacity: 0;
  transition: all 0.7s ease-in-out;
}

.camera:hover {
  opacity: 1;
}

.share-button-desktop {
  display: block;
}

.share-button-mobile {
  display: none;
}


@media (max-width: 768px) {
  .share-button-desktop {
    display: none;
  }

  .share-button-mobile {
    display: block;
  }
}

.share-button {
  position: absolute;
  right: 0;
  border: 1px dashed #D0D5DD;
  border-radius: 20px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--base-white);
  transition: all 0.7s ease-in-out;
}

.share-button .tooltiptext {
  visibility: hidden;
  position: absolute;
  width: 85px;
  background-color: var(--gray-900);
  color: #fff;
  text-align: center;
  padding: 10px 0;
  border-radius: 6px;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip-left {
  top: -5px;
  bottom: auto;
  right: 128%;
}

.tooltip-left::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent var(--gray-900);
}

.share-button:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.share-button:hover {
  background-color: var(--gray-300);
}

.share-button:focus {
  background-color: var(--base-white);
  box-shadow: 0px 0px 0px 4px #F2F4F7;
}

.disabled {
  position: absolute;
  right: 0;
  border-radius: 20px;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--gray-50);
  border: 1px dashed var(--gray-200);
}

.link-section {
  display: flex;
  flex-direction: column;
  margin: 24px 0;
}

.footer {
  padding: 30px 0;
  width: 100%;
}

.footer-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px 0;
  border-top: 1px solid #EAECF0;
}

.footer-text {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--gray-500);
  font-family: var(--font-family);
}

@media (min-width: 768px) and (max-width: 575px) {
  .footer-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .footer-text {
    font-size: 14px;
    line-height: 20px;
    margin: 10px 0;
  }
}

.social-section {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.social-section-icon {
  margin: 0 10px;
}

.button {
  text-align: center;
  background-color: var(--gray-200);
  color: var(--gray-900);
  box-shadow: var(--box-shadow);
  margin: 15px 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  padding: 24px 32px;
  text-transform: normal;
  border-radius: 8px;
  text-decoration: none;
  transition: all 0.4s ease-in-out;
}

.button:hover {
  background-color: var(--gray-300);
  border: 1px solid var(--gray-300);
}

.button:focus {
  background-color: var(--gray-200);
  border: 1px solid var(--gray-400);
}

.main-content {
  padding: 10px 0;
}

@media (max-width: 576px) {
  .button {
    font-size: 14px;
  }
}

@media (max-width: 576px) {
  .footer-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .footer-text {
    font-size: 14px;
    line-height: 20px;
    margin: 10px 0;
  }
}

@media (min-width: 1440px) {
  .container {
    min-width: 1320px;
  }

  .profile-section {
    min-width: 960px;
  }

  .contact {
    padding: 200px;
  }
}

@media (min-width: 1200px) and (max-width: 1439px) {
  .container {
    max-width: 1140px;
  }

  .profile-section {
    max-width: 960px;
  }

  .contact {
    padding: 200px;
  }
}

@media (min-width: 767px) and (max-width: 1999px) {
  .container {
    max-width: 960px;
  }

  .profile-section {
    max-width: 960px;
  }

  .contact {
    width: 100%;
    padding: 100px;
  }
}

@media (min-width: 575px) and (max-width: 768px) {
  .container {
    max-width: 720px;
  }

  .profile-section {
    max-width: 720px;
  }

  .contact {
    width: 100%;
    padding: 50px 3px;
  }

  .contact header h1 {
    font-size: 32px;
    line-height: 38px;
  }

  .contact header p {
    font-size: 18px;
  }

  .row {
    display: flex;
    flex-direction: column;
  }

  .col-50 {
    width: 100%;
  }

  .mr-10 {
    margin-right: 0px;
  }

  .ml-10 {
    margin-left: 0px;
  }

  .checkbox {
    width: 22px;
    height: 22px;
  }
}

@media (max-width: 576px) {
  .container {
    max-width: 560px;
    padding: 0 15px;
  }

  .profile-section {
    max-width: 540px;
  }

  .contact {
    width: 100%;
    padding: 50px 3px;
  }

  .contact header h1 {
    font-size: 32px;
    line-height: 38px;
  }

  .contact header p {
    font-size: 18px;
  }

  .row {
    display: flex;
    flex-direction: column;
  }

  .col-50 {
    width: 100%;
  }

  .mr-10 {
    margin-right: 0px;
  }

  .ml-10 {
    margin-left: 0px;
  }

  .checkbox {
    width: 27px;
    height: 22px;
  }
}